<nav class="h-screen w-60 bg-gray-900 text-white py-4 pl-4 pr-0 shadow-md">


  <h1 class="text-xl font-bold mb-6 tracking-tight">BaseHours</h1>

  
  <ul class="space-y-2">
    <li>

      <a
        routerLink="/"
        routerLinkActive="bg-gray-700 mr-3"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block px-3 py-2 rounded hover:bg-gray-700"
      >
        Início
      </a>
    
    </li>

    <li>

      <a
        routerLink="/clients"
        routerLinkActive="bg-gray-700 mr-3"
        class="block px-3 py-2 rounded hover:bg-gray-700"
      >
        Clientes
      </a>

    </li>

    <li>
      <a
        routerLink="/projects"
        routerLinkActive="bg-gray-700 mr-3"
        class="block px-3 py-2 rounded hover:bg-gray-700"
      >
        Projetos
      </a>
    </li>    

  </ul>
      
</nav>
